<h1>Edit a photo</h1>

<form action="http://localhost:3000/update_photo/<%= @photo.id %>">
<div>
<label>Caption</label>
<input type="text" value="<%= @photo.caption %>" name="the_caption">
</div>

<div>
  <label>Source</label>
  <input type="text" value="<%= @photo.source %>" name="the_source">

</div>

<div>

    <button> Edit Photo</button>
</div>




</form>
