<h1>Edit photo</h1>

<form class="" action="http://localhost:3000/update_photo/<%= Eedit.id %>">

  <label>Caption:</label>
  <input type="text" name="the_caption" value="<%= @edit.caption %>">

<div>
</div>

  <label>Image URL:</label>
  <input type="text" name="the_source" value="<%= @edit.source %>">

  <button>Update Photo</button>
</form>
