
<h1>Edit photo</h1>
<!DOCTYPE html>
<!-- <html>
  <head>
    <meta charset="utf-8">
    <title>Edit Photo</title>
  </head>
  <body>

<h1>Edit photo</h1>
<form>

<label>Caption:</label><input type="text" name="caption" value="Put Caption Here">
<label>Image URL:</label><input type="text" name="url" value="Put URL Here">
<!-- <%=p = Photo.find_by({:id => params[:id]})%>
<%=p.caption = params[:caption]%>
<%=p.url = params[:source]%>
<%=p.save%> -->

<!-- <button type="button" name="update" action="http://localhost:3000">Update Photo</button>

</form>

</body>
</html> -->
