<h1>Add A New photo</h1>

<form>
  <div>
  <label>Caption</label>
  <input type="text" name="">
  </div>
  <div>
  <label>Image URL</label>
  <input type="text" name="">
  </div>
  <div>
  <button>Create Photo</button>
  </div>
</form>