<h1>Add a New Photo</h1>

<form action="http://localhost:3000/create_photo">
  <label for="caption">Caption</label>
  <input type="text" name="caption" id="caption" value="">

  <label for="source">Source</label>
  <input type="text" name="source" id="source" value="">

  <button>Create Photo</button>
</form>
