<h1>Add A New Photo</h1>

<form action="http://localhost:3000/create_photo">
  <label for="Caption">Caption:</label>
  <input id="Caption" type="text" name="the_caption">
<div>
  <label for="Source">Image URL:</label>
  <input id="Source" type="text" name="the_source">
</div>
  <button>Create Photo</button>
</form>
