<h1>Add A New Photo</h1>
<form action="http://localhost:3000/create_photo">
  <label for="caption">Caption:</label>
  <input name="image_caption" id="caption" type="text"><br>
  <label for="url">Image URL:</label>
  <input name ="image_url" id="url" type="text"><br>
  <button>Create Photo</button>
</form>
