<h1>Add A New Photo</h1>

<form class="" action="http://localhost:3000/create_photo">

  <label>Caption:</label>
  <input type="text" name="caption" value="">

<div>
</div>

  <label for="">Source:</label>
  <input type="text" name="source" value="">

  <button>Create Photo</button>
</form>
