<h1>Hi!</h1>
<form action="http://localhost:3000/photos/create_row">

<label>Image URL:</label>
<input type="text" name="source" placeholder="Put URL here">

<label>Image caption:</label>
<input type="text" name="caption" placeholder="Put image caption here">

<button>Create Photo</button>
</form>

<a href="/">Back</a>
