<h1>Add A New Photo</h1>

<form action="http://localhost:3000/create_photo">
  <div class="">


    <label for="the_caption">Caption:</label>
    <input type="text" name="the_caption">
  </div>
  <div class="">

    <label for="the_source">Source:</label>
    <input type="text" name="the_source">
  </div>
  <button>Create Photo</button>
</form>
