<h1>Photo Details</h1>

<img src="<%= @image.source %>" alt="" idth=600px height=400px/>


<p>
<%= @image.caption %>
</p>

<a href="/photos">Back</a>
<a href="http://localhost:3000/photos/<%= @image.id %>/edit">Edit</a>
<a href="http://localhost:3000/delete_photo/<%= @image.id %>">Delete</a>
